._.DS_Store

#folders
SWI_fromPC/
data/AEM/
data/BoundaryMeshes_preAEM/
data/Calibrated/
data/Calibrated_small/
data/lith/
data/Scenarios/
data/WQ/
docs/
work/
aem-waveform/
paper/
SWI_from_PC/
notebook/output/
notebook/.ipynb_checkpoints/
notebook/__pycache__/
notebook/._*
notebook/source_code/
**/*.ipynb_checkpoints/
#files
aem-waveform.zip
